<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ws_payx.payx" value="http://tm.cldng.com/xtm/xservices/payx.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="cldConnectionStringx" connectionString="Data Source=.;Initial Catalog=ba2xai_cldds_backup;Persist Security Info=True;User ID=sa;Password=Doc2ore1976;Connection Timeout=300" providerName="System.Data.SqlClient"/>
    <!--<add name="cldConnectionString" connectionString="Data Source=WINDOWS-GCTG5NT\SQLSERVER12X;Initial Catalog=cld_ds;Persist Security Info=True;User ID=sa;Password=Doc2ore1976;Connection Timeout=300" providerName="System.Data.SqlClient"/>-->
    <add name="xcldConnectionString" connectionString="Data Source=EINAO;Initial Catalog=ba2xai_cldds;User ID=sa;Password=ozoTONY3;Connection Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="cldConnectionString" connectionString="Data Source=88.150.164.30;Initial Catalog=ba2xai_cldds_backup;User ID=tony;Password=50f7c03!@#K2;Connection Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="xhomeConnectionString" connectionString="Data Source=88.150.164.30;Initial Catalog=ba2xai_xhome_backup;User ID=Tony;Password=50f7c03!@#K2" providerName="System.Data.SqlClient"/>
    <add name="ba2xai_cldds_backupEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;data source=88.150.164.30;initial catalog=ba2xai_cldds_backup;user id=Tony;password=50f7c03!@#K2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
   
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
    </httpModules>
    <!-- Set these next 2 attributes large enough to accomodate the largest and 
             longest running upload you want to support.  Note that browsers and
             IIS typically don't support uploads larger than 2GB (2097151 KB). -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>
    </modules>
    <security>
      <requestFiltering>
        <!-- Increased maxAllowedContentLength from default of 300MB. -->
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>